@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #1F1F1F;
  font-family: 'Josefin Sans',sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  padding: 30px 0;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 a {
  padding-top: 10px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

/* navbar styling starts here */
nav ul {
  display: flex;
  align-items: center;
}

nav ul li { margin-left: 42px; }

nav ul li a {
  position: relative;
  color: #a09999;
  font-size: 12px;
  letter-spacing: 1.5px;
}

nav ul li a:hover::after, 
nav ul li a.active::after {
  content: '';
  width: 90%;
  border: 2px solid #8fd0a6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: -15px;
}

/* responsive navbar styling starts here */
#close { display: none; }

.menu {
  display: none;
  color: #fff;
  font-size: 18px;
}

.menu:hover {
  color :#a09999;
  cursor: pointer;
  transition: .5s ease;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* tabs styling starts here */
.tabs {
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.tabs li { margin-right: 4px; }

.tabs li a {
  padding: 6px 10px;
  color: #a09999;
  font-size: 11px;
  letter-spacing: .5px;
}

.tabs li a:hover, 
.tabs li a.active { 
  color: #fff;
  background: #8fd0a6;
  transition: .5s ease;
}

/* tab content styling starts here */
.tab-content > li { display: none; }
.tab-content > li.show { display: flex; }

.tab-content > li ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tab-content > li ul li { border: 1px solid #fff; }

.tab-content {
  padding-bottom: 40px;
  border-bottom: 1px solid #666;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

/* footer content styling starts here */
.f-content {
  padding: 30px 0 8px 0;
  border-bottom: 1px solid #464343;
  color: #a09999;
}

.f-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.f-content h2 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.widget p, 
.f-content ul li a {
  color: #606060;
  font-size: 12px;
}

.posts ul li {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #464343;
}

.posts ul li:nth-child(4) { border: none; }
.posts ul li:nth-child(1) { padding-top: 12px; }

.posts ul li a:hover {
  color: #f3f3f3;
  transition: .5s ease;
}

.widget p {
  padding-top: 15px;
  font-family: sans-serif;
  line-height: 15px;
}

.posts ul li a, 
.widget p {
  font-size: 11px;
  font-family: sans-serif;
}

.tags ul {
  width: 90%;
  margin-top: 12px;
}

.tags ul li { margin: 3px 1px; }

.tags ul li a {
  padding: 7px;
  background: #8fd0a6;
  color: #fff;
  transition: .5s ease;
}

.tags ul li a:hover { background: #a09999; }

.gallery ul {
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.gallery ul li { margin: 2px; }

/* footer info styling starts here */
.f-info {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-info span {
  color: #606060;
  font-size: 11px;
  font-family: sans-serif;
}

.f-info ul {
  display: flex;
  align-items: center;
}

.f-info ul li {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.f-info ul li a {
  border-radius: 50%;
  color: #666;
  font-size: 10px;
  transition: .5s ease;
}

.f-info ul li:hover a { color: #000; }

 /*=================================
  footer styling ends here
=================================*/ 

